<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<h2>Kittens Home page</h2>
<%= link_to 'Create a Kitten', new_kitten_path %>
<ul>
  <% @kittens.each do |kitten|%>
    <li>
      <%= link_to kitten.name, kitten %> |
      <%= link_to 'Delete Kitten', kitten_path(kitten), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %><br>
    </li>
  <% end %>
</ul>
  
