<h2>Kitten Profile</h2>
<%= link_to 'Home Page', kittens_path  %><br>
<%= link_to 'Edit Kitten', edit_kitten_path %><br>
<%= link_to 'Delete Kitten', kitten_path(@kitten), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %><br>
<%= @kitten %>
